.Admin {
    display: flex;
  }
.Admin-side {
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  box-shadow: -3px 0 5px 0 #555;
  background-color: var(--orange-light);
}
.Admin-content {
  padding: 50px 20px;
  height: 100%;
  width: 100%;
}
.Admin-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border: 1px solid white;
  background-color: var(--orange-darl);
  cursor: pointer;
}
.Admin-tab:hover {
  background-color: #888;
}
