.BankQuest {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.BankQuest-button {
  margin: 20px 0;
}
.BankQuest-list {
  border: 1px solid #ddd;
}
table {
 /*  border-collapse: collapse; */
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
